@font-face {
  font-family: sans;
  src: url(../assets/fonts/WorkSans-VariableFont_wght.ttf);
}

* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans;
}

img {
  max-width: 100%;
}

p,
label {
  font-size: clamp(1.5rem, 1.6vw, 1.8rem);
}
a {
  font-size: clamp(1.5rem, 1.6vw, 1.8rem);
  text-decoration: none;
}

/* ! Header */

header {
  padding: 10vh 0;
}

svg {
  margin-top: -1.5vh;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 4vh 2vw;
  right: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100vw;
}

nav a {
  padding-left: 1.5vw;
  color: #867772;
}

nav a:hover {
  color: white;
  text-decoration: underline;
  transition: 0.3s;
}

/* ! Main */

/* Wrapper */

.wrapper {
  background: url(../assets/img/section-voyager.jpg) no-repeat left;
  background-size: 100% 100%;
  background-color: #2e2e2e;
  max-height: 100vh;
  height: 100%;
  width: 50%;
}

.wrapper-bgr {
  background-color: #2e2e2e;
  width: 50vw;
  height: 100vh;
  margin-left: 50vw;
}

/* Aside */

aside {
  position: fixed;
  top: 15vh;
  left: 8vh;
}

aside a:before {
  content: "◦";
  font-size: 3rem;
  margin-left: -2.1vw;
  padding-right: 2vw;
}

#lounger {
  color: white;
}

aside a {
  padding-top: 1.5vh;
  text-transform: uppercase;
  color: #737373;
}

aside a:hover {
  color: white;
  transition: 0.3s;
}

aside div {
  border-left: solid 0.1vw #737373;
  height: 4vh;
  margin-left: -1.6vw;
  margin-top: 0.5vh;
}

/* Sounds */

.sounds {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h1 {
  width: 30vw;
  margin-right: -3.1vw;
  margin-top: 5vh;
  margin-bottom: 6vh;
  color: #ebccc2;
  font-size: clamp(4.5rem, 4.7vw, 5rem);
  font-weight: 400;
}

.sounds p {
  width: 35vw;
  margin-right: -8vw;
  padding-bottom: 3vh;
  color: #6e6e6e;
  line-height: 3vh;
}
